{% extends "base.html" %}

{% block content %}
    <h2>Add A Blog</h2>
    <form action="/all_blogs" method='post'>
        <label> Blog Title:
            Title for your new blog:
            <input id='blog_title' type="text" name='blog_title' /> <!--Change Made-->
        </label>
        <p></p>
        <label>
            Your new blog:
            <textarea rows="4" cols="50" id='blog_body' name="blog_body" ></textarea> <!--Change Made-->
        </label>
        <p></p>
        <input type="submit" value='Add blog' />
    </form>


{% endblock %}